body{
    width: 100%;
}
.container{
    margin: 0 auto;
    width: 95%;
    box-sizing: content-box;
}

.logo img{
    width: 58%;
    display: inline-block;
    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
.slide{
    padding: 0;
}
.slide img{
    width: 100%;
}
#nav_bar_elements{
    text-align: right;
}
#nav_bar_elements ul{
    color: white;
    padding: 10px;
    display: inline;
    text-align: center;
    background-color: rgb(4, 88, 88);
}
#nav_bar_elements ul li{
    color: white;
    padding: 10px;
    display: none;
    min-width: 100px;
    background-color: rgb(2, 31, 31);
    z-index: 1000;
}
.ab{
    background: rgb(207, 232, 241);
    min-height: 30px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.prod_list{
    padding-left: 0;
    padding-right: 0;
    list-style: none;
}
.prod img {
    width: 70%;
    margin: 0 auto;
    display: block;
    border: 1px solid black;
    padding: 3px;
}
figcaption{
    text-align: center;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
hr{
    clear: both;
    border-color: black;
}
li ins{
    font-size: 1.7rem;
    color: rgb(255, 0, 0);
}
li del{
    font-size: 1.3rem;
    color: rgb(87, 88, 10);
}
.big_title{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(18, 1, 77);
}
